USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEmpleado]    Script Date: 19/10/2025 23:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ActualizarEmpleado]
    @inId INT
    , @inValorDocumentoIdentidad VARCHAR(20)
    , @inNombre NVARCHAR(120)
    , @inIdPuesto INT
    , @inIdPostByUser INT = NULL
    , @inPostInIP VARCHAR(45) = NULL
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @prevCed VARCHAR(20)
        , @prevNom NVARCHAR(120)
        , @prevPuesto NVARCHAR(100)
        , @saldo DECIMAL(10,2)
        , @detalle NVARCHAR(MAX)
        , @resultadoBitacora INT;

    BEGIN TRY
        -- Validaciones ANTES de transacción
        IF (@inValorDocumentoIdentidad LIKE '%[^0-9]%')
        BEGIN
            SET @outResultCode = 50010;
            
            SET @detalle = N'Error ' + CAST(@outResultCode AS NVARCHAR(10))
                + N'; Ced=' + @inValorDocumentoIdentidad
                + N'; Nombre=' + @inNombre
                + N'; PuestoId=' + CAST(@inIdPuesto AS NVARCHAR(10));
                
            EXEC SP_RegistrarBitacora 
                @inIdTipoEvento = 7
                , @inDescripcion = @detalle
                , @inIdPostByUser = @inIdPostByUser
                , @inPostInIP = @inPostInIP
                , @outResultCode = @resultadoBitacora OUTPUT;
                
            RETURN;
        END;

        IF (@inNombre LIKE '%[^A-Za-zÁÉÍÓÚÜÑáéíóúüñ -]%')
        BEGIN
            SET @outResultCode = 50009;
            
            SET @detalle = N'Error ' + CAST(@outResultCode AS NVARCHAR(10))
                + N'; Ced=' + @inValorDocumentoIdentidad
                + N'; Nombre=' + @inNombre
                + N'; PuestoId=' + CAST(@inIdPuesto AS NVARCHAR(10));
                
            EXEC SP_RegistrarBitacora  
                @inIdTipoEvento = 7
                , @inDescripcion = @detalle
                , @inIdPostByUser = @inIdPostByUser
                , @inPostInIP = @inPostInIP
                , @outResultCode = @resultadoBitacora OUTPUT;
                
            RETURN;
        END;

        IF EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE ValorDocumentoIdentidad = @inValorDocumentoIdentidad 
                AND Id <> @inId 
                AND EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50006;
            
            SET @detalle = N'Error ' + CAST(@outResultCode AS NVARCHAR(10))
                + N'; Ced=' + @inValorDocumentoIdentidad
                + N'; Nombre=' + @inNombre
                + N'; PuestoId=' + CAST(@inIdPuesto AS NVARCHAR(10));
                
            EXEC SP_RegistrarBitacora  
                @inIdTipoEvento = 7
                , @inDescripcion = @detalle
                , @inIdPostByUser = @inIdPostByUser
                , @inPostInIP = @inPostInIP
                , @outResultCode = @resultadoBitacora OUTPUT;
                
            RETURN;
        END;

        IF EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE Nombre = @inNombre 
                AND Id <> @inId 
                AND EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50007;
            
            SET @detalle = N'Error ' + CAST(@outResultCode AS NVARCHAR(10))
                + N'; Ced=' + @inValorDocumentoIdentidad
                + N'; Nombre=' + @inNombre
                + N'; PuestoId=' + CAST(@inIdPuesto AS NVARCHAR(10));
                
            EXEC SP_RegistrarBitacora  
                @inIdTipoEvento = 7
                , @inDescripcion = @detalle
                , @inIdPostByUser = @inIdPostByUser
                , @inPostInIP = @inPostInIP
                , @outResultCode = @resultadoBitacora OUTPUT;
                
            RETURN;
        END;

        -- Iniciar transacción
        BEGIN TRANSACTION;

        -- Obtener valores anteriores
        SELECT 
            @prevCed = e.ValorDocumentoIdentidad
            , @prevNom = e.Nombre
            , @prevPuesto = p.Nombre
            , @saldo = e.SaldoVacaciones
        FROM dbo.Empleado e
            INNER JOIN dbo.Puesto p ON p.Id = e.IdPuesto
        WHERE e.Id = @inId;

        -- Actualizar empleado
        UPDATE dbo.Empleado
        SET 
            ValorDocumentoIdentidad = @inValorDocumentoIdentidad
            , Nombre = @inNombre
            , IdPuesto = @inIdPuesto
        WHERE Id = @inId;

        -- Registrar en bitácora
        SET @detalle = N'Antes: ' + @prevCed + N'|' + @prevNom + N'|' + @prevPuesto
            + N'; Despues: ' + @inValorDocumentoIdentidad + N'|' + @inNombre + N'|' + CAST(@inIdPuesto AS NVARCHAR(10))
            + N'; Saldo=' + CAST(@saldo AS NVARCHAR(20));

        EXEC SP_RegistrarBitacora  
            @inIdTipoEvento = 8
            , @inDescripcion = @detalle
            , @inIdPostByUser = @inIdPostByUser
            , @inPostInIP = @inPostInIP
            , @outResultCode = @resultadoBitacora OUTPUT;

        COMMIT TRANSACTION;
        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @outResultCode = 50008;
        
        INSERT INTO dbo.DBError (
            UserName
            , ErrorNumber
            , ErrorState
            , ErrorSeverity
            , ErrorLine
            , ErrorProcedure
            , ErrorMessage
        )
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
        );
    END CATCH;
END;
