USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarEmpleado]    Script Date: 19/10/2025 23:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_EliminarEmpleado]
    @inId INT
    , @inIdPostByUser INT = NULL
    , @inPostInIP VARCHAR(45) = NULL
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ced VARCHAR(20)
        , @nom NVARCHAR(120)
        , @puesto NVARCHAR(100)
        , @saldo DECIMAL(10,2)
        , @detalle NVARCHAR(MAX)
        , @resultadoBitacora INT;

    BEGIN TRY
        -- Verificar que el empleado existe y está activo
        IF NOT EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE Id = @inId 
                AND EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50012; -- Empleado no existe o ya está inactivo
            RETURN;
        END;

        -- Iniciar transacción
        BEGIN TRANSACTION;

        -- Obtener datos para bitácora antes de desactivar
        SELECT 
            @ced = e.ValorDocumentoIdentidad
            , @nom = e.Nombre
            , @puesto = p.Nombre
            , @saldo = e.SaldoVacaciones
        FROM dbo.Empleado e
            INNER JOIN dbo.Puesto p ON p.Id = e.IdPuesto
        WHERE e.Id = @inId;

        -- Borrado lógico
        UPDATE dbo.Empleado 
        SET EsActivo = 0 
        WHERE Id = @inId;

        -- Registrar en bitácora
        SET @detalle = N'Ced=' + @ced 
            + N'; Nombre=' + @nom 
            + N'; Puesto=' + @puesto 
            + N'; Saldo=' + CAST(@saldo AS NVARCHAR(20));

        EXEC SP_RegistrarBitacora 
            @inIdTipoEvento = 10
            , @inDescripcion = @detalle
            , @inIdPostByUser = @inIdPostByUser
            , @inPostInIP = @inPostInIP
            , @outResultCode = @resultadoBitacora OUTPUT;

        COMMIT TRANSACTION;
        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @outResultCode = 50008;
        
        INSERT INTO dbo.DBError (
            UserName
            , ErrorNumber
            , ErrorState
            , ErrorSeverity
            , ErrorLine
            , ErrorProcedure
            , ErrorMessage
        )
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
        );
    END CATCH;
END;
