USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarMovimiento]    Script Date: 19/10/2025 23:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_InsertarMovimiento]
    @inIdEmpleado INT
    , @inIdTipoMovimiento INT
    , @inFecha DATE
    , @inMonto DECIMAL(10,2)
    , @inIdPostByUser INT = NULL
    , @inPostInIP VARCHAR(45) = NULL
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @tipoAccion NVARCHAR(20)
        , @saldoActual DECIMAL(10,2)
        , @nuevoSaldo DECIMAL(10,2)
        , @detalle NVARCHAR(MAX)
        , @resultadoBitacora INT;

    BEGIN TRY
        -- Verificar que empleado existe y está activo
        IF NOT EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE Id = @inIdEmpleado 
                AND EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50013; -- Empleado no existe o inactivo
            RETURN;
        END;

        -- Verificar que tipo de movimiento existe
        IF NOT EXISTS (
            SELECT 1 
            FROM dbo.TipoMovimiento 
            WHERE Id = @inIdTipoMovimiento
        )
        BEGIN
            SET @outResultCode = 50014; -- Tipo movimiento no existe
            RETURN;
        END;

        -- Iniciar transacción
        BEGIN TRANSACTION;

        -- Obtener tipo de acción y saldo actual
        SELECT 
            @tipoAccion = tm.TipoAccion
            , @saldoActual = e.SaldoVacaciones
        FROM dbo.TipoMovimiento tm
            , dbo.Empleado e
        WHERE tm.Id = @inIdTipoMovimiento
            AND e.Id = @inIdEmpleado;

        -- Calcular nuevo saldo
        IF (@tipoAccion = 'Credito')
        BEGIN
            SET @nuevoSaldo = @saldoActual + @inMonto;
        END;
        ELSE
        BEGIN
            SET @nuevoSaldo = @saldoActual - @inMonto;
        END;

        -- Validar que no quede saldo negativo
        IF (@nuevoSaldo < 0)
        BEGIN
            SET @outResultCode = 50011; -- Saldo negativo no permitido
            
            SET @detalle = N'Error ' + CAST(@outResultCode AS NVARCHAR(10))
                + N'; EmpId=' + CAST(@inIdEmpleado AS NVARCHAR(20))
                + N'; Tipo=' + CAST(@inIdTipoMovimiento AS NVARCHAR(20))
                + N'; Monto=' + CAST(@inMonto AS NVARCHAR(32))
                + N'; SaldoPrevio=' + CAST(@saldoActual AS NVARCHAR(32));

            EXEC SP_RegistrarBitacora 
                @inIdTipoEvento = 13
                , @inDescripcion = @detalle
                , @inIdPostByUser = @inIdPostByUser
                , @inPostInIP = @inPostInIP
                , @outResultCode = @resultadoBitacora OUTPUT;
                
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Insertar movimiento
        INSERT INTO dbo.Movimiento (
            IdEmpleado
            , IdTipoMovimiento
            , Fecha
            , Monto
            , NuevoSaldo
            , IdPostByUser
            , PostInIP
        )
        VALUES (
            @inIdEmpleado
            , @inIdTipoMovimiento
            , @inFecha
            , @inMonto
            , @nuevoSaldo
            , @inIdPostByUser
            , @inPostInIP
        );

        -- Actualizar saldo del empleado
        UPDATE dbo.Empleado 
        SET SaldoVacaciones = @nuevoSaldo 
        WHERE Id = @inIdEmpleado;

        -- Registrar en bitácora
        SET @detalle = N'EmpId=' + CAST(@inIdEmpleado AS NVARCHAR(20))
            + N'; Tipo=' + CAST(@inIdTipoMovimiento AS NVARCHAR(20))
            + N'; Monto=' + CAST(@inMonto AS NVARCHAR(32))
            + N'; NuevoSaldo=' + CAST(@nuevoSaldo AS NVARCHAR(32));

        EXEC SP_RegistrarBitacora 
            @inIdTipoEvento = 14
            , @inDescripcion = @detalle
            , @inIdPostByUser = @inIdPostByUser
            , @inPostInIP = @inPostInIP
            , @outResultCode = @resultadoBitacora OUTPUT;

        COMMIT TRANSACTION;
        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @outResultCode = 50008;
        
        INSERT INTO dbo.DBError (
            UserName
            , ErrorNumber
            , ErrorState
            , ErrorSeverity
            , ErrorLine
            , ErrorProcedure
            , ErrorMessage
        )
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
        );
    END CATCH;
END;
