USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarEmpleado]    Script Date: 19/10/2025 23:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_InsertarEmpleado]
    @inValorDocumentoIdentidad VARCHAR(20)
    , @inNombre NVARCHAR(120)
    , @inIdPuesto INT
    , @inFechaContratacion DATE
    , @inIdPostByUser INT = NULL
    , @inPostInIP VARCHAR(45) = NULL
    , @outNuevoID INT OUTPUT
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @descripcionEvento NVARCHAR(500);

    BEGIN TRY
        -- Pre-proceso y validaciones ANTES de transacción
        IF (@inValorDocumentoIdentidad LIKE '%[^0-9]%')
        BEGIN
            SET @outResultCode = 50010;
            RETURN;
        END;

        IF (@inNombre LIKE '%[^A-Za-zÁÉÍÓÚÜÑáéíóúüñ -]%')
        BEGIN
            SET @outResultCode = 50009;
            RETURN;
        END;

        IF EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE ValorDocumentoIdentidad = @inValorDocumentoIdentidad 
                AND EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50004;
            RETURN;
        END;

        IF EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE Nombre = @inNombre 
                AND EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50005;
            RETURN;
        END;

        -- Iniciar transacción
        BEGIN TRANSACTION;

        INSERT INTO dbo.Empleado (
            IdPuesto
            , ValorDocumentoIdentidad
            , Nombre
            , FechaContratacion
        )
        VALUES (
            @inIdPuesto
            , @inValorDocumentoIdentidad
            , @inNombre
            , @inFechaContratacion
        );

        SET @outNuevoID = SCOPE_IDENTITY();

        -- Bitácora
        SET @descripcionEvento = N'Ced: ' + @inValorDocumentoIdentidad 
            + N'; Nombre: ' + @inNombre 
            + N'; PuestoId: ' + CAST(@inIdPuesto AS NVARCHAR(10));

        DECLARE @resultadoBitacora INT;
        EXEC SP_RegistrarBitacora 
            @inIdTipoEvento = 6
            , @inDescripcion = @descripcionEvento
            , @inIdPostByUser = @inIdPostByUser
            , @inPostInIP = @inPostInIP
            , @outResultCode = @resultadoBitacora OUTPUT;

        COMMIT TRANSACTION;
        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @outResultCode = 50008;
        
        INSERT INTO dbo.DBError (
            UserName
            , ErrorNumber
            , ErrorState
            , ErrorSeverity
            , ErrorLine
            , ErrorProcedure
            , ErrorMessage
        )
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
        );
    END CATCH;
END;
