USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMovimientos]    Script Date: 19/10/2025 23:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ListarMovimientos]
    @inIdEmpleado INT
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -- Verificar que el empleado existe
        IF NOT EXISTS (
            SELECT 1 
            FROM dbo.Empleado 
            WHERE Id = @inIdEmpleado
        )
        BEGIN
            SET @outResultCode = 50015; -- Empleado no existe
            RETURN;
        END;

        -- Consulta principal
        SELECT 
            m.Id
            , m.Fecha
            , tm.Nombre AS TipoMovimiento
            , m.Monto
            , m.NuevoSaldo
            , u.Username AS PostByUser
            , m.PostInIP
            , m.PostTime
        FROM dbo.Movimiento m
            INNER JOIN dbo.TipoMovimiento tm ON tm.Id = m.IdTipoMovimiento
            LEFT JOIN dbo.Usuario u ON u.Id = m.IdPostByUser
        WHERE m.IdEmpleado = @inIdEmpleado
        ORDER BY m.Fecha DESC
            , m.Id DESC;

        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        SET @outResultCode = 50008; -- Error de base de datos
        
        INSERT INTO dbo.DBError (
            UserName
            , ErrorNumber
            , ErrorState
            , ErrorSeverity
            , ErrorLine
            , ErrorProcedure
            , ErrorMessage
        )
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
        );
    END CATCH;
END;
