USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarEmpleados]    Script Date: 19/10/2025 23:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ListarEmpleados]
    @Filtro NVARCHAR(120) = NULL,
    @OutResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @OutResultCode = 0;  -- 0 = éxito
    
    BEGIN TRY
        -- Si hay filtro, determinar tipo y registrar en bitácora
        IF @Filtro IS NOT NULL AND LTRIM(RTRIM(@Filtro)) <> ''
        BEGIN
            DECLARE @TipoEvento INT;
            DECLARE @TempResult INT;
            
            
            IF @Filtro NOT LIKE '%[^0-9]%'  
                SET @TipoEvento = 12;  -- Filtro por cédula
            ELSE
                SET @TipoEvento = 11;  -- Filtro por nombre
            
            -- Registrar en bitácora
            EXEC SP_RegistrarBitacora 
                @IdTipoEvento = @TipoEvento,
                @Descripcion = @Filtro,
                @IdPostByUser = NULL,
                @PostInIP = NULL,
                @PostTime = NULL,
                @OutResultCode = @TempResult OUTPUT;
        END
        
        -- Consulta principal
        SELECT 
            e.Id, 
            e.Nombre, 
            e.ValorDocumentoIdentidad, 
            e.SaldoVacaciones, 
            p.Nombre AS Puesto
        FROM dbo.Empleado e
        JOIN dbo.Puesto p ON p.Id = e.IdPuesto
        WHERE e.EsActivo = 1 
        AND (
            @Filtro IS NULL 
            OR LTRIM(RTRIM(@Filtro)) = ''
            OR e.Nombre LIKE '%' + @Filtro + '%'
            OR e.ValorDocumentoIdentidad LIKE '%' + @Filtro + '%'
        )
        ORDER BY e.Nombre ASC;
        
    END TRY
    BEGIN CATCH
        -- Manejo de errores
        SET @OutResultCode = 50008; -- Error de base de datos
        
        INSERT INTO dbo.DBError (
            UserName, 
            ErrorNumber, 
            ErrorState, 
            ErrorSeverity, 
            ErrorLine, 
            ErrorProcedure, 
            ErrorMessage
        )
        VALUES (
            'Sistema', 
            ERROR_NUMBER(), 
            ERROR_STATE(), 
            ERROR_SEVERITY(), 
            ERROR_LINE(), 
            'SP_ListarEmpleados', 
            ERROR_MESSAGE()
        );
    END CATCH
END;
