USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarBitacora]    Script Date: 19/10/2025 23:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- SP_RegistrarBitacora - Versión oficial
-- =============================================
ALTER PROCEDURE [dbo].[SP_RegistrarBitacora]
    @IdTipoEvento INT,
    @Descripcion NVARCHAR(1000) = NULL,
    @IdPostByUser INT = NULL,
    @PostInIP VARCHAR(45) = NULL,
    @PostTime DATETIME = NULL,
    @OutResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @OutResultCode = 0;  -- 0 = éxito
    
    BEGIN TRY
        -- Validar que el tipo de evento exista
        IF NOT EXISTS (SELECT 1 FROM dbo.TipoEvento WHERE Id = @IdTipoEvento)
        BEGIN
            SET @OutResultCode = 50020; -- Tipo evento no existe
            RETURN;
        END
        
        -- Validar usuario si se proporciona
        IF @IdPostByUser IS NOT NULL 
           AND NOT EXISTS (SELECT 1 FROM dbo.Usuario WHERE Id = @IdPostByUser)
        BEGIN
            SET @OutResultCode = 50021; -- Usuario no existe
            RETURN;
        END
        
        -- Si no se proporciona PostTime, usar GETDATE()
        IF @PostTime IS NULL
            SET @PostTime = GETDATE();
        
        -- Insertar en bitácora
        INSERT INTO dbo.BitacoraEvento (
            IdTipoEvento, 
            Descripcion, 
            IdPostByUser, 
            PostInIP, 
            PostTime
        )
        VALUES (
            @IdTipoEvento, 
            @Descripcion, 
            @IdPostByUser, 
            @PostInIP, 
            @PostTime
        );
        
        -- Éxito
        SET @OutResultCode = 0;
        
    END TRY
    BEGIN CATCH
        -- Manejo de errores según estándar del profesor
        IF @@TRANCOUNT > 0
            ROLLBACK;
            
        SET @OutResultCode = 50008; -- Error de base de datos
        
        -- Registrar error en DBError (como en apuntes)
        INSERT INTO dbo.DBError (
            UserName, 
            ErrorNumber, 
            ErrorState, 
            ErrorSeverity, 
            ErrorLine, 
            ErrorProcedure, 
            ErrorMessage
        )
        VALUES (
            'Sistema', 
            ERROR_NUMBER(), 
            ERROR_STATE(), 
            ERROR_SEVERITY(), 
            ERROR_LINE(), 
            'SP_RegistrarBitacora', 
            ERROR_MESSAGE()
        );
    END CATCH
END;
