USE [Tarea2BD_dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarLogin]    Script Date: 19/10/2025 23:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- SP_ValidarLogin - Versión simplificada
-- =============================================
ALTER PROCEDURE [dbo].[SP_ValidarLogin]
    @Username VARCHAR(128),
    @Password VARCHAR(255),
    @IP VARCHAR(45),
    @OutCodigoError INT OUTPUT,
    @OutIdUsuario INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @OutCodigoError = 0;
    SET @OutIdUsuario = NULL;
    
    BEGIN TRY
        DECLARE @now DATETIME = GETDATE();
        DECLARE @IntentosRecientes INT = 0;
        DECLARE @TempResult INT;
        
        -- Obtener ID usuario si existe
        SELECT @OutIdUsuario = Id 
        FROM dbo.Usuario 
        WHERE Username = @Username;
        
        -- Contar intentos fallidos últimos 5 minutos
        IF @OutIdUsuario IS NOT NULL
        BEGIN
            SELECT @IntentosRecientes = COUNT(*)
            FROM dbo.BitacoraEvento 
            WHERE IdTipoEvento IN (2, 3)  -- Login fallido, Login deshabilitado
            AND IdPostByUser = @OutIdUsuario
            AND PostInIP = @IP
            AND PostTime >= DATEADD(MINUTE, -5, @now);
        END
        
        -- Verificar si login está deshabilitado por intentos
        IF @IntentosRecientes >= 5
        BEGIN
            SET @OutCodigoError = 50003; -- Login deshabilitado
            
            EXEC SP_RegistrarBitacora 
                @IdTipoEvento = 3,
                @Descripcion = 'Login deshabilitado por intentos fallidos',
                @IdPostByUser = @OutIdUsuario,
                @PostInIP = @IP,
                @PostTime = @now,
                @OutResultCode = @TempResult OUTPUT;
                
            RETURN;
        END
        
        -- Validar que usuario exista
        IF @OutIdUsuario IS NULL
        BEGIN
            SET @OutCodigoError = 50001; -- Username no existe
            
            EXEC SP_RegistrarBitacora 
                @IdTipoEvento = 2,
                @Descripcion = 'Error 50001: Usuario no existe',
                @IdPostByUser = NULL,
                @PostInIP = @IP,
                @PostTime = @now,
                @OutResultCode = @TempResult OUTPUT;
                
            RETURN;
        END
        
        -- Validar contraseña
        IF NOT EXISTS (
            SELECT 1 
            FROM dbo.Usuario 
            WHERE Id = @OutIdUsuario 
            AND Password = @Password
        )
        BEGIN
            SET @OutCodigoError = 50002; -- Password incorrecta
            SET @OutIdUsuario = NULL;  -- No retornar ID si falla
            
            EXEC SP_RegistrarBitacora 
                @IdTipoEvento = 2,
                @Descripcion = 'Error 50002: Password incorrecta',
                @IdPostByUser = @OutIdUsuario,
                @PostInIP = @IP,
                @PostTime = @now,
                @OutResultCode = @TempResult OUTPUT;
                
            RETURN;
        END
        
        -- Login exitoso
        EXEC SP_RegistrarBitacora 
            @IdTipoEvento = 1,
            @Descripcion = 'Login exitoso',
            @IdPostByUser = @OutIdUsuario,
            @PostInIP = @IP,
            @PostTime = @now,
            @OutResultCode = @TempResult OUTPUT;
            
        SET @OutCodigoError = 0;  -- Éxito
        
    END TRY
    BEGIN CATCH
        -- Manejo de errores según estándar del profesor
        IF @@TRANCOUNT > 0
            ROLLBACK;
            
        SET @OutCodigoError = 50008; -- Error de base de datos
        SET @OutIdUsuario = NULL;
        
        -- Registrar error en DBError (como en apuntes)
        INSERT INTO dbo.DBError (
            UserName, 
            ErrorNumber, 
            ErrorState, 
            ErrorSeverity, 
            ErrorLine, 
            ErrorProcedure, 
            ErrorMessage
        )
        VALUES (
            @Username, 
            ERROR_NUMBER(), 
            ERROR_STATE(), 
            ERROR_SEVERITY(), 
            ERROR_LINE(), 
            'SP_ValidarLogin', 
            ERROR_MESSAGE()
        );
    END CATCH
END;
